{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<h1>Login</h1>
<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>{{ form.username.label_tag }} {{ form.username }}</div>
  <div>{{ form.password.label_tag }} {{ form.password }}</div>
  <button type="submit">Login</button>
</form>
<p>Don’t have an account? <a href="{% url 'register' %}">Register</a>.</p>
{% endblock %}
