{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}
{% block content %}
<h1>Profile</h1>

<div class="profile-card">
  <div class="avatar">
    {% if request.user.profile.avatar %}
      <img src="{{ request.user.profile.avatar.url }}" alt="avatar" style="max-width: 160px;">
    {% else %}
      <div>No avatar</div>
    {% endif %}
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>Account</legend>
      {{ u_form.non_field_errors }}
      <div>{{ u_form.username.label_tag }} {{ u_form.username }}</div>
      <div>{{ u_form.email.label_tag }} {{ u_form.email }}</div>
    </fieldset>

    <fieldset>
      <legend>Profile</legend>
      {{ p_form.non_field_errors }}
      <div>{{ p_form.bio.label_tag }} {{ p_form.bio }}</div>
      <div>{{ p_form.avatar.label_tag }} {{ p_form.avatar }}</div>
    </fieldset>

    <button type="submit">Save changes</button>
  </form>
</div>
{% endblock %}
